<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <img src="https://www.qwinix.io/wp-content/uploads/2016/05/logo-footer.png" />
    </div>
    <ul class="nav navbar-nav">
      <!-- <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Page 1</a></li>
      <li><a href="#">Page 2</a></li>
      <li><a href="#">Page 3</a></li> -->
    </ul>
    <p class="head">QIT Manager- Edit Record</p>
  </div>
</nav>
<div style="text-align:center">
<%= simple_form_for @qit do |form| %>
<div class="alignment-184">
<%= form.input :borrower_id, label: "Employee ID" %>
</div>
<br>
<div class="alignment">
<%= form.input :borrower, label: "Borrower Name" %>
</div>
<br>
<div class="alignment-2">
<%= form.input :item, label: "Asset Taken" %>
</div>
<br>
<div class="alignment-2a">
<%= form.input :item_id, label: "Asset Serial#" %>
</div>
<br>
<div class="alignment-122">
<%= form.input :borrowed_on, label: "Borrowed Date" %>
</div>
<br>
<div class="alignment-122a">
<%= form.input :returned_on, label: "Returned Date" %>
</div>
<br>
<div class="alignment-check">
<label class="required">* Status</label><%= form.select :item_status, [['BORROWED'],['RETURNED']] %>
</div>
<br>
<div class="alignment-2b">
<%= form.input :issue, label: "Issues" %>
</div>
<br>
<div class="alignment-checka">
<label class="required">* Incharge</label><%= form.select :incharge, [['MANJUNATH DINKA'],['ANUPAMA']] %>
</div>
<br>
<br>
<%= form.button :submit, class: 'btn btn-success', value: "Submit" %>
<br><br>
<p><%= link_to "Back", qits_path %></p>
<% end %>
</div>