<% if logged_in? %>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="https://www.qwinix.io"><img src="https://www.qwinix.io/wp-content/uploads/2016/05/logo-footer.png" /></a>
    </div>
    <ul class="nav navbar-nav">
    </ul>
    <p class="head">QIT Manager</p>
  </div>
</nav>
<div style="text-align:center">
  <h2>Asset Management</h2>
  <%= form_tag(qits_path, :method => "get", id: "search-form") do %>
  <%= text_field_tag :search, params[:search], placeholder: "Search Assets" %>
  <%= submit_tag "Search" %>
  <% end %>
  <% if @qits.present? %>
  <%= render @qits %>
  <% else %>
  <p>There are no assets containing the term(s) <%= params[:search] %>.</p>
  <% end %>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th id="b">Employee ID</th>
        <th id="b">Borrower Name</th>
        <th id="b">Asset Taken</th>
        <th id="b">Asset Serial#</th>
        <th id="b">Borrowed Date</th>
        <th id="b">Returned Date</th>
        <th id="b">Status</th>
        <th id="b">Issues</th>
        <th id="b">Incharge</th>
      </tr>
    </thead>
    <tbody>
      <% @qits.each do |qit| %>
      <tr>
        <td><%=qit.borrower_id %></td>
        <td><%=qit.borrower %></td>
        <td><%=qit.item %></td>
        <td><%=qit.item_id %></td>
        <td><%=qit.borrowed_on %></td>
        <td><%=qit.returned_on %></td>
        <td><%=qit.item_status %></td>
        <td><%=qit.issue %></td>
        <td><%=qit.incharge %></td>
        <td><%= link_to '<i class="fa fa-trash" aria-hidden="true"></i>
          '.html_safe, qit_path(qit),
          method: :delete,
          data: { confirm: 'Are You sure?' } %></td>
          <td><%= link_to '<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
            '.html_safe, edit_qit_path(qit) %></td>


          </tr>
          <% end %>
        </tbody>
      </table>
      <p><%= link_to "Add Borrower", new_qit_path %></p>
      <a href="/"><i class="fa fa-refresh" aria-hidden="true" style="color: red"></i></a>
      <p><%= will_paginate @qits %></p>
    </div>
    <% end %>